// custom.scss

// 1. Override des variables AVANT les imports Bootstrap
$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

// 2. Import complet de Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// 3. Ajouts personnalisés si besoin
body {
  background-color: $secondary;
}
